body{
    font-family: 'Muli', sans-serif;
    margin: 0px;
    background-color: #8F57FD;
}
.header_log{
  background-color: #21c08b;
  width: 100%;
  color: white;
  height:100px ;
  
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
} 
.header__img{
  width: 200px;

 margin-left: 30px;
}
.login{
    background: linear-gradient(#21C08B,#AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px,30px;
    min-height: calc(100vh - 200px);
    display: flex;
   

}
.login__conteiner{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px ;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.login__conteiner--form{
    display: flex;
    flex-direction: column;

}
.login__conteiner--form label{
    font-size: 14px;
}
.login__conteiner--recordatorio{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


}
.login__conteiner--recordatorio a{
    color: white;
    font-size: 14px;
    text-decoration: none;

}
.login__conteiner--recordatorio a:hover{
    color: white;
    font-size: 14px;
    text-decoration: underline;

}

.login__conteiner--social--media > div {

display: flex;
align-items: center;

font-size: 14px;
margin-bottom: 10px;

margin-top: 10px;



}

.login__conteiner--social--media > div > img{

 width: 30px;
 margin-right: 10px;
 flex-direction: column;
    
    }

.login__conteiner--registrer{
    font-size: 14px;

}
.login__conteiner--registrer a{
    font-size: 16px; 
    color: white;
    font-weight: bold;
    text-decoration: none;

}
.login__conteiner--registrer a:hover{

    text-decoration: underline ;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom:2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;

}
::placeholder{
    color: white;
}
.button{
background-color: rgba(255,255,255, 0.1);
border: none;
border-radius: 25px;
color: white;
cursor: pointer;
font-size: 16px;
font-weight: bold;
font-family: 'Muli', sans-serif;
height: 50px;
letter-spacing: 1px;
margin: 10px 0px;
}
.footer{
    background-color:#8F57FD;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;

}
.footer a:hover{
   
    text-decoration: underline;
    
}
@media only screen and (max-width:600px){
.login__conteiner{
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
}
.footer{
    align-items: flex-start;
    flex-direction: column;

}

}
.header{
    background-color: #8F57FD;
    width: 100%;
    height:80px ;
    position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
} 
.header__img{
    width: 200px;
    margin-top: 10px;
   margin-left: 10px;
}
.header__menu{
    margin-top: 20px;
    margin-right: 60px;

}
.header__menu__profile{
    margin-right: 8px;
    width: 40px;
    display: flex;
    align-items: center;

}
.header__menu__profile img{
    margin-right:8px;
    width: 40px; 
  

}
.header__menu__profile p{

    margin:0px;
    color:white;

}
.header__menu:hover ul,ul:hover{
    display: block;

}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin:0px 0px 0px -14px ;


}
.header__menu li a:hover{
    text-decoration: underline;

}

.header__menu li{
    margin: 10px 0px;

}
.header__menu li a {
    
    color: white;
    text-decoration:none; 
    margin-left: -50px;
    
}
.main{
    height:300px ;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    

}
.main__title{
    color: white;
    font-size: 25px;
    
    
}
.input{
    background-color: rgba(255, 255,255, 0.1);
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-family:  'Muli', sans-serif ;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    border-radius: 20px;
    
    
    
}
::placeholder{
    color: white;
}

.categories__title{
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;

}
body{
    margin:0px;
}
.carusel{
    width: 100%;
   
    padding: 30px;
    position: relative;
}
.carusel__cointener{
    white-space: nowrap;
    margin:70px 0px;
    padding-bottom: 10px;


}
.carusel-item{
    background-color: coral;
    width: 200px;
    height: 250px;
    border-radius:20px; 
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carusel-item:hover ~ .carusel-item  {
    transform: translate3d(100px,0,0);

}
.carusel__cointener:hover .carusel-item{
    opacity: 0.3;
}
.carusel__cointener:hover .carusel-item:hover  {
    transform: scale(1.5);
    opacity: 1;
}
.carusel-item__img{
   width: 200px;
   height: 250px;
   object-fit: cover;

}
.carusel-item__details{
    display: flex;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0)100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items:flex-start;
    flex-direction: column;
    justify-content: flex-end;
   




}
.carusel-item__details:hover{
    display: flex;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0)100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items:flex-start;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
   




}
.carusel-item__details--title{
    margin: 0px;
    color: white;
}
.carusel-item__details--subtitle{
    margin: 0px;   
    color: white;

}


